* {
	margin: 0;
	padding: 0;
}

body {
	display: block;
	position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

	font-size: 16px;

	background: #fff;
}

#calendar {
    display: block;
    position: relative;
    padding: 1em;

    font-size: 1em;
}

#calendar input {
    display: inline-block;
    position: relative;

    padding: .5em .5em;
    margin: 0 1em;

    font-size: inherit;

    border: 1px solid #ccc;
    border-radius: .2rem / .2rem;
}
#calendar input[type=submit] {
    font-weight: bold;
    background: #eee;
    cursor: pointer;
}

#current {
    display: inline-block;
    position: relative;
    margin: 1em 2em;

    color: #000;
    text-decoration: none;

    padding: .8em;
    border-radius: .3rem / .3rem;
    background-color: #eee;
    border: 1px solid #ccc;
}